* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block;
    position: absolute;
    transform: scaleX(-1);
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    z-index: -1;
}